@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@1,300&family=Sarala:wght@400;700&display=swap');
::-webkit-scrollbar{
    width: 8px;
    height: 7px;
  }
  ::-webkit-scrollbar-track {
    background-color: transparent;
  }
  ::-webkit-scrollbar-track-piece{
    background-color: #252525;
  }
  ::-webkit-scrollbar-thumb{
      border-radius: 100px;
    background-color: rgb(167, 167, 167);
  }
  ::-webkit-scrollbar-thumb:hover{
      background-color: #525252;
  }
  html {
    scroll-behavior: smooth;
    padding: 0;
    margin: 0;
  }
  body{
    height: 3000px;
    padding: 0;
    margin: 0;
    background-color: #252525;
  }
  *{
    font-family: 'Sarala';
  }

  header{
      background: linear-gradient(65.99deg, #23232F 11.05%, #52758E 88.83%);
  }
  .text{
    margin: auto;
    align-self: center;
    justify-content: center;
  }
  .row{
    width: 100%;
    padding-right: var(--bs-gutter-x, 0.75rem);
    padding-left: var(--bs-gutter-x, 0.75rem);
    margin-right: auto;
    margin-left: auto;
  }
  h1{
    font-family: 'Sarala';
    font-style: normal;
    font-weight: 700;
    color: #C3E0EC;
  }
  header{
    height: 100vh;
    width: 100vw;
    }
  .title{
    font-size: 60px;
     text-align: center;
  }
  .mobile{
    display: block;
    max-width: 80%;
    height: auto;
  }
  p{
    font-family: 'Sarala';
    text-align: justify;
    font-weight: 400;
    font-size: 20;
    color: #E6F2F8; 
  }
  li{
    font-family: 'Sarala';
    text-align: justify;
    font-weight: 400;
    font-size: 30;
    color: #E6F2F8; 
  }

  .line{
    width: 100%;
    background-color: #252525;  
    height: 0.5vh;
  }
  .nav-link{
    font-weight: 700;
    font-family: 'Sarala';
    font-size: 1.1vw;
    line-height: 30px;
    color: #252525;
  }
  .navbar{
    height: 8vh;
    justify-content:center;
    background-color: #b2ccd7ec
  } 
  .sub{
    font-family: 'Sarala';
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 65px;
    color: #CFE6F0;
  }
  .sub-{
    font-family: 'Sarala';
    font-style: normal;
    font-weight: 700;
    font-size: 25px;
    line-height: 50px;
    color: #CFE6F0;
  }
  .subc{
    font-weight: 700;
    font-size: 30px;
    line-height: 65px;
    color: #CFE6F0;
    text-align: center;
  }
  #video{
    background-color:  #2A2A2A;
  }
  #career{
    background-color: #252525;
  }
  #market{
    background-color: #2A2A2A;
  }
  .imgs{
    width: 70%;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  .imgxs{
    width: 40%;
  }
  .imgb{
    width: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  .imgxb{
    width: 40%;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  #footer{
    bottom: 0;
    width: 100%;
    height: 22rem;
    background: rgb(162,190,201);
    background: linear-gradient(0deg, rgb(95, 127, 140) 0%, rgb(168, 188, 197) 100%);
  }
  .icons{
    text-align: center;
    vertical-align: middle;
    height: 7rem;
  }
  .icon{
    padding: 10px;
    width: 60px;
  }
  .videoramon{
    width: 95%;
    height: 90%;
  }
  .div-video{
    height: 500px;
  } 
  .centerheadertext{
    margin-left: auto;
    margin-right: 0px;
    width: 90%;
  }

  .titulo {
    @include font-size(4rem);
  }
  .titulo {
    font-size: calc(1.525rem + 3.3vw);
  }

  @media (min-width: 1200px) {
    .title {
      font-size: 4rem;
    }
  }


  .sub-title {
    @include font-size(1rem);
  }
  .sub-title {
    font-size: calc(0.38125rem + 0.825vw);
  }

  @media (min-width: 1200px) {
    .title {
      font-size: 4rem;
    }
  }

  .graph{
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  .footer-title{
    font-family: 'Sarala';
    font-size: 40px;
    line-height: 65px;
    color: #252525;
    text-align: center;
  }
  .footer-text{
    font-size: 25px;
    color: #252525;
    text-align: center;
  }
  .footer-textsm{
    font-size: 20px;
    font-weight: 700;
    color: #252525;
    text-align: center;
  }
  .prototipagem{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
  }